.page{
    text-align: center;
    margin-bottom: 30px;
}

.page a{
    text-align: center;
    padding: 5px;
    margin-right:5px;
     background-color: green;

}
#active{
    border:solid 1px green;
     background-color:white;
     color:green;
}
.page a:hover{
    border:solid 1px green;
     background-color:white;
     color:green;

}
.page a:active{
    border:solid 1px green;
    background-color:white;
    color:green;

}